<!DOCTYPE html>
<html>
<head>
  <title>Cyber Vault</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

</head>
<body>
  <div class="container">
    <h1>🔐 Welcome to Cyber Vault</h1>
    {% if 'user_id' in session %}
      <p>Hello, {{ session['username'] }}!</p>
      <a href="/dashboard">Dashboard</a>
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    {% endif %}
    <a href="/chatbot">Need Help?</a>
  </div>
  
</body>
</html>
